@tailwind base;
@tailwind components;
@tailwind utilities;

/* LAYOUT */
html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

h3 {
    font-size: 18px;
}

.container {
    /* background-color: #F2F4F9; */

    @apply flex flex-col min-h-screen min-w-full p-0
}

.content-container {
    background-color: #F2F4F9;

    @apply flex flex-grow px-36 py-16 text-lg
}

.content {
    @apply w-full
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

/* COMPONENTS */

.navbar {
    @apply flex justify-between items-center w-full p-6 border-b
}

.footer {
    @apply flex p-6 border-t
}

.kanban {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
}


/* Task Card */

.big-card {
    @apply rounded-2xl px-4 py-2 border-none
}

.lil-card {
    @apply justify-center content-center hover:shadow
}

.task-list {
    @apply list-disc pl-6
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #e4e4e7;
    border-radius: 10px;
}