@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

h3 {
    font-size: 18px;
}

.container {
    @apply flex flex-col min-h-screen min-w-full p-0
}

.navbar {
    @apply flex justify-between items-center w-full p-10 border-b
}

.content-container {
    @apply flex flex-grow px-36 py-16 text-lg
}

.content {
    @apply w-full
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.footer {
    @apply flex p-10 border-t
}

.task-list {
    @apply list-disc pl-6
}

.kanban {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
}

.big-card {
    @apply rounded-2xl px-4 py-2 hover:shadow-md
}

.lil-card {
    @apply justify-center content-center hover:shadow
}