@tailwind base;
@tailwind components;
@tailwind utilities;

/* LAYOUT */
html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow-x: hidden;
}

/* For Firefox */
::-moz-selection {
    background-color: #e0e7ff;
    color: #000;
}

/* For other browsers */
::selection {
    background-color: #e0e7ff;
    color: #000;
}

h3 {
    font-size: 18px;
}

.container {
    @apply flex flex-col min-h-screen min-w-full p-0
}

.content-container {
    background-color: #F2F4F9;

    @apply flex flex-grow text-lg p-10 mt-20 md:px-36 md:py-16 md:mt-20
}

.content {
    @apply w-full
}

.home {
    @apply flex flex-col space-y-12
}

@media (min-width: 768px) {
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
        @apply space-y-0
    }
}

/* COMPONENTS */

.navbar {
    @apply flex justify-between items-center w-full p-6 border-b fixed top-0 z-40 bg-white
}

.footer {
    @apply flex p-6 border-t
}

.kanban {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
}


/* Task Card */

.big-card {
    @apply rounded-2xl px-4 py-2 border-none
}

.lil-card {
    @apply justify-center content-center hover:shadow
}

.task-list {
    @apply list-disc pl-4
}

.task-list-item {
    @apply w-full
    p-2 rounded text-left hover:bg-indigo-50/70
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #e4e4e7;
    border-radius: 10px;
}